<div>
  <button pButton pRipple type="button" label="Ambassador" routerLink="/"
          class="p-button-text text-white shadow-none header-title-text"></button>
</div>
<div>
  <button pButton pRipple type="button" label="Deliveries" routerLink="/deliveries"
          class="p-button-raised text-white focus:shadow-4"></button>
</div>
<div>
  <p-avatar icon="pi pi-user" shape="circle" class="cursor-pointer" (click)="userMenu.toggle($event)"></p-avatar>
  <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
</div>
